.indicator-group text,
.component-group text,
.element-group text {
  font-family: 'Nunito', sans-serif;
  pointer-events: none; }

.indicator-group path {
  fill-opacity: 0.7; }

.component-group path,
.element-group path {
  fill-opacity: 0.5; }

path.chord {
  stroke-width: .75;
  fill-opacity: .75; }

.svg-holder {
  display: flex;
  justify-content: center; }

.component-group-main,
.element-group-main {
  pointer-events: none;
  fill-opacity: 0.7; }

.component-group-main {
  font-family: 'Nunito', sans-serif; }

.element-group-main {
  font-family: 'Nunito', sans-serif; }

body h2 {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  margin: 20px 0; }
