html
  include shared-views/head
  body
    .svg-holder
    select
      option(value='outgoing') Outgoing
      option(value='incoming') Incoming
      option(value='both' selected='selected') Both
    script(src='bundle.js')