body {
    margin: 0;
}

.indicator-group text,
.component-group-main text,
.element-group-main text {
    font-family: 'Nunito', sans-serif;
    pointer-events: none;
}

.indicator-group path {
    fill-opacity: 0.7;
}

.component-group path,
.element-group path {
    fill-opacity: 0.5;
}

path.chord {
    stroke-width: .75;
    fill-opacity: .75;
}

.svg-holder {
    display: flex;
    justify-content: center;
}

.component-group-main,
.element-group-main {
    fill-opacity: 0.7;
}

.component-group-main,
.element-group-main,
.indicator-group {
    cursor: pointer;
}

.component-group-main {
    font-family: 'Nunito', sans-serif;
}

.element-group-main {
    font-family: 'Nunito', sans-serif;
}

body h2 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin: 20px 0;
}

select {
    position: absolute;
    left: 40px;
    top: 40px;
}

main {
    display: flex;
}

main .content-holder {
    height: 100%;
    background: #F9F9F9;
    box-shadow: -6px 2px 20px 0 rgba(179, 179, 179, 0.5);
    box-sizing: border-box;
    display: none;
}

main .svg-holder {
    flex-basis: 100%;
}


.elementTag {
    font-style: italic;
}

.elementBody,
.componentBody {
    line-height: 25px;
    text-align: justify;
}

.elementTag {
    font-style: italic;
    text-align: center;
}

.close {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.close .closeButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #F63F27;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
    color: rgb(55, 55, 55);
    cursor: pointer;
}

.template {
    font-family: 'Source Sans Pro';
    padding: 0 15px;
}

